@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-enter: enter 1s both;

  --font-weight-thin: 150;
  --font-weight-extralight: 200;
  --font-weight-light: 250;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
  --font-weight-extrabold: 750;
  --font-weight-black: 850;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 58%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 0 0% 7%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 30%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 220 13% 91%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 90%;

    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 55%;

    --popover: 0 0% 7%;
    --popover-foreground: 210 20% 98%;

    --card: 0 0% 7%;
    --card-foreground: 210 20% 98%;

    --border: 0 0% 18%;
    --input: 0 0% 18%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 75%;

    --accent: 0 0% 18%;
    --accent-foreground: 210 20% 98%;

    --destructive: 355 100% 75%;
    --destructive-foreground: 210 20% 98%;

    --ring: 0 0% 40%;
  }
}

@layer base {
  * {
    @apply border-border font-normal;
  }
  body {
    @apply bg-background text-foreground;
  }
}
